
#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div class="row crud-title">
    <h1 class="col-xs-12"> &{'crud.show.title', type.modelName} </h1>
    <pre class="col-xs-12 col-sm-12 col-md-9"> &{'crud.show.title.desc', type.modelName} </pre>
    <input data-toggle="modal" data-target="#deleteModal"
        class="col-xs-12 col-sm-12 col-md-2 btn btn-danger pull-right" type="button" value="&{'crud.delete', type.modelName}" />
</div>

<br>

<div class="row" >
#{form action:@save(object._key()), enctype:'multipart/form-data', class: 'submitForm'}

    #{crud.form}
    
        #{crud.custom 'name' }
            #{field 'object.name' }
                <div class="form-group row">
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" class="form-control" readonly type="text" name="${field.name}" value="${field.value}"/>
                </div>
            #{/field}
        #{/crud.custom}            
        #{crud.custom 'creationDate' }
            #{field 'object.creationDate' }
                <div class="form-group row">
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" class="form-control" readonly type="text" name="${field.name}" value="${field.value.format()}"/>
                </div>
            #{/field}
        #{/crud.custom}
        #{crud.custom 'plugin' }
            #{field 'object.plugin' }
                <div class="form-group row">
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" class="form-control" readonly type="text" name="${field.name}" value="${field.value}"/>
                </div>
            #{/field}
            #{field 'object.pricePerGB' }
                <div class="form-group row">
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" class="form-control" readonly type="text" name="${field.name}" value="${field.value}"/>
                </div>
            #{/field}
            #{field 'object.classAPrice' }
                <div class="form-group row">
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" class="form-control" readonly type="text" name="${field.name}" value="${field.value}"/>
                </div>
            #{/field}
            #{field 'object.classBPrice' }
                <div class="form-group row">
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" class="form-control" readonly type="text" name="${field.name}" value="${field.value}"/>
                </div>
            #{/field}
            #{field 'object.priceTableDate' }
                <div class="form-group row">
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" class="form-control" readonly type="text" name="${field.name}" value="${field.value.format()}"/>
                </div>
            #{/field}
            #{field 'object.regionName' }
                <div class="form-group row">
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" class="form-control" readonly type="text" name="${field.name}" value="${field.value}"/>
                </div>
            #{/field}
        #{/crud.custom}
        #{crud.custom 'alocationAfterCreation' }
        #{/crud.custom}
        
        
    
        #{crud.custom 'listSharedGroups'}
            #{field 'object.listSharedGroups'}
            <div class="form-group row ${field.errorClass ? 'has-error' : ''}">
                <div class="div-label">
                    <label for="${field.id}">
                        &{field.name}
                    </label>
                    <a class="check-all ${field.id}_class_all_"></a>
                </div>
                <div class="custom-muilt-check-box">
                    %{
        
                    fieldChoices = models.GroupModel.searchUserGroups();
                    fieldChoices.each() {
                        selected = (object.listSharedGroups != null && object.listSharedGroups.contains(it));
                    }%
                    <div style="padding-top: 5px;padding-bottom: 5px;">
                        <input type="checkbox" name="${field.name}.id" value="${it._key()}" ${selected ? 'checked'.raw() : ''}
                            class="icheck icheckbox_table_list ${field.id}_class_one_"/>&nbsp;${it}<br/>
                    </div>
                    %{ } }%
                </div>
        
                #{set 'tempInnerScript' }
                <script type="text/javascript">
                    configureCheckAll(
                            $('.${field.id}_class_all_'),
                            $('.${field.id}_class_one_'));
                </script>
                #{/set}
        
                #{set 'moreInnerScripts'}
                    #{get 'moreInnerScripts' /}
                    #{get 'tempInnerScript' /}
                #{/set}
                #{ifError field.name}
                    <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                #{/ifError}
            </div>
            #{/field}
        #{/crud.custom}
    
    #{/crud.form}

    <div class="btn-row text-center">
        <input class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_save" value="&{'crud.save', type.modelName}" />
        <input class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        <a href="@{guest.VwSpaceController.list()}" class="btn btn-primary btn-md btn-mobile margin-bottom">&{'crud.cancel'}</a>
    </div>
#{/form}

</div>

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">&{'modal.confirm'}</h4>
            </div>
            <div class="modal-body">
                <p>&{'modal.confirm.delete'}</p>
                <p class="text-warning"><small>&{'modal.confirm.delete.desc'}</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">&{'modal.button.cancel'}</button>
                #{form @delete(object._key()), style: 'display:inline;', class: 'submitForm'}
                    <button type="submit" class="btn btn-primary">&{'modal.button.confirm'}</button>
                #{/form}
            </div>
        </div>
    </div>
</div>
