
#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div class="row crud-title">
    <h1 class="col-xs-12"> &{'crud.list.title', type.name} </h1>
    <pre class="col-xs-12"> &{'crud.list.title.desc', type.name+'.desc'} </pre>
</div>

<br>

#{crud.searchAndAdd /}

<br>

#{crud.table fields: 
        ['executor.name', 'workflowNode.workflow.name', 'cloudInstanceName', 'cloudInstanceIp',
            'plugin.name', 'price', 'creationDate', 'phase', 'status', 'copyInstance'], 
        sort: ['executor.name', 'workflowNode.workflow.name', 'cloudInstanceName', 'cloudInstanceIp',
            'plugin.name', 'price', 'creationDate', 'phase', 'status']}

    #{crud.custom 'executor.name'}
        <a href="@{show(object._key())}">${object.executor.name}</a>
    #{/crud.custom}
    #{crud.custom 'workflowNode.workflow.name'}
        #{if object.workflowNode != null}
            ${object.workflowNode.workflow.name}
        #{/if}
    #{/crud.custom}
    #{crud.custom 'plugin.name'}
        ${object.plugin.name}
    #{/crud.custom}
    #{crud.custom 'creationDate'}
        ${object.creationDate.format()}
    #{/crud.custom}
    #{crud.custom 'copyInstance'}        
        <a href="@{copy(object._key())}">
            <img class="copy-icon" src="@{'/public/images/copy-icon.png'}"/>
        </a>
    #{/crud.custom}

#{/crud.table}

#{crud.pagination /}