
#{field 'object.' + _name}
    <div class="form-group row ${field.errorClass ? 'has-error' : ''}">
        <label for="${field.id}">
            <input type="checkbox" id="${field.id}" name="${field.name}" class="icheck" value="true" ${(params[field.name] ? params.getAll(field.name)[0] == 'true' : _value) ? 'checked="true" '.raw() : ''} /> &{field.name}
            <input type="hidden" name="${field.name}" value="false" />
        </label>
        #{ifError field.name}
            <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
        #{/ifError} 
    </div>
#{/field} 
