#{field 'object.' + _name}
    <div class="form-group row ${field.errorClass ? 'has-error' : ''}">
        <label for="${field.id}">&{field.name}</label>
        <input id="${field.id}" class="form-control"  type="password" name="${field.name}" value="${params[field.name]?.escape()?.raw() ?: field.error?.message == 'validation.required' ? '' : _value?.escape()?.raw()}" />
        #{ifError field.name}
            <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
        #{/ifError} 
    </div>
#{/field}