
#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div class="row crud-title">
    <h1 class="col-xs-12"> &{'crud.blank.title', type.modelName} </h1>
    <pre class="col-xs-12"> &{'crud.blank.title.desc', type.modelName} </pre>
</div>

<br>

<div class="row" >
#{form action:@create(), enctype:'multipart/form-data', class:'submitForm'} 
   #{crud.form /}

    <label>&{'workflow.editor'}</label>
    
    <div class="btn-toolbar margin-bottom" role="toolbar">
        <div class="btn-group" role="group">
            <button id="buttonNewInstance" type="button" class="btn btn-secondary draggable_operator ui-draggable ui-draggable-handle">
                <span class="glyphiconglyphicon glyphicon glyphicon-screenshot"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary delete_selected_button">
                <span class="glyphiconglyphicon glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>

	<div id="chart_container">
		<div id="workflow_editor"></div>
	</div>

	<div class="btn-row text-center">
        <button class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_save">&{'crud.save'}</button>
        <button class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_saveAndContinue">&{'crud.saveAndContinue'}</button>
        <button class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_saveAndAddAnother">&{'crud.saveAndAddAnother'}</button>
        <a href="@{list()}" class="btn btn-primary btn-md btn-mobile margin-bottom">&{'crud.cancel'}</a>
    </div>
#{/form}
</div>

#{set 'moreStyles' }
<link rel="stylesheet" type="text/css" 
        href="@{'/public/lib/jquery-ui/jquery-ui.min.css'}" media="screen">
<link rel="stylesheet" type="text/css" 
        href="@{'/public/lib/jquery-flowchart/jquery.flowchart.min.css'}" media="screen">
        
<style>

#chart_container {
    background: repeating-linear-gradient( 45deg, #eee, #eee 10px, #e5e5e5 10px, #e5e5e5 20px );
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden; 
    position: relative;
    max-height: 400px;
}

#chart_container #workflow_editor {
    width: 2000px;
    height: 1000px;
    background: white;
    border: 3px solid #BBB;
}

.flowchart-operator .flowchart-operator-title {    
    text-overflow: unset !important;
    white-space: normal !important;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.flowchart-operator {
    width: 80px;
    border-radius: 16px;
    padding-left: 1px;
}

.flowchart-operator .flowchart-operator-inputs-outputs {
    color: white;
}

.terminal-operator {
    background-color: #aaacb3;
}

.terminal-operator.selected {
}

.terminal-operator .flowchart-operator-inputs-outputs {
    color: #aaacb3;
}

.terminal-operator .flowchart-operator-title {
    background-color: #5a6a88;
    color: white;
}    

</style>        
#{/set}

#{set 'moreScripts' }
<script type="text/javascript" 
        src="@{'/public/lib/jquery-ui/jquery-ui.min.js'}"></script>
<script type="text/javascript" 
        src="@{'/public/lib/jquery-flowchart/jquery.flowchart.min.js'}"></script>
<script type="text/javascript" 
        src="@{'/public/lib/jquery.panzoom.min.js'}"></script>
        
<script type="text/javascript">

$(function(){

var $flowchart = $('#workflow_editor');
var $container = $flowchart.parent();

var cx = $flowchart.width() / 2;
var cy = $flowchart.height() / 2;


// Panzoom initialization...
$flowchart.panzoom();

// Centering panzoom
$flowchart.panzoom('pan', -cx + $container.width() / 2, -cy + $container.height() / 2);

// Panzoom zoom handling...
var possibleZooms = [3, 2, 1, 0.75, 0.5];
var currentZoom = 2;
$container.on('mousewheel.focal', function( e ) {
    e.preventDefault();
    var delta = (e.delta || e.originalEvent.wheelDelta) || e.originalEvent.detail;
    var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
    currentZoom = Math.max(0, Math.min(possibleZooms.length - 1, (currentZoom + (zoomOut * 2 - 1))));
    $flowchart.flowchart('setPositionRatio', possibleZooms[currentZoom]);
    $flowchart.panzoom('zoom', possibleZooms[currentZoom], {
        animate: false,
        focal: e
    });
});

function getOperatorData(title) {
  var data = {
    properties: {
      title: title,
      inputs: {
          ins: {
              label: '.',
              multiple: true
          }
      },
      outputs: {
          outs: {
              label: ".",
              multiple: true
          }
      }
    } 
  };
  
  return data;
}

var data = {
    operators: {
        start_operator: {
            top: cy - 100,
            left: cx - 200,
            properties: {
                title: 'Start',
                inputs: {},
                outputs: {
                    outs: {
                        label: ".",
                        multiple: true
                    }
                }
            }
        },
        end_operator: {
            top: cy,
            left: cx + 140,
            properties: {
                title: 'End',
                inputs: {
                    ins: {
                        label: '.',
                        multiple: true
                    }
                },
                outputs: {}
            }
        },
        normal_operator1: {
            top: cy -100,
            left: cx,
            properties: {
                title: 'Normal Operator',
                inputs: {
                    ins: {
                        label: '.',
                        multiple: true
                    }
                },
                outputs: {
                    outs: {
                        label: ".",
                        multiple: true
                    }
                }
            }
        },
        normal_operator2: {
            top: cy,
            left: cx,
            properties: {
                title: 'Normal Operator',
                inputs: {
                    ins: {
                        label: '.',
                        multiple: true
                    }
                },
                outputs: {
                    outs: {
                        label: ".",
                        multiple: true
                    }
                }
            }
        },
    }
};

// Apply the plugin on a standard, empty div...
$flowchart.flowchart({
  data: data
});

$flowchart.flowchart('addClassOperator', 'start_operator', 'terminal-operator');
$flowchart.flowchart('addClassOperator', 'end_operator', 'terminal-operator');

$('.delete_selected_button').click(function() {
  $flowchart.flowchart('deleteSelected');
});

var $draggableOperators = $('.draggable_operator');


var operatorId = 0;

$('#buttonNewInstance').draggable({cancel:false});

$draggableOperators.draggable({
    cursor: "move",
    opacity: 0.7,
    
    helper: 'clone', 
    appendTo: 'body',
    zIndex: 1000,
    
    helper: function(e) {
      var $this = $(this);
      var data = getOperatorData("Operator Normal");
      return $flowchart.flowchart('getOperatorElement', data);
    },
    stop: function(e, ui) {
        var $this = $(this);
        var elOffset = ui.offset;
        var containerOffset = $container.offset();
        if (elOffset.left > containerOffset.left &&
            elOffset.top > containerOffset.top && 
            elOffset.left < containerOffset.left + $container.width() &&
            elOffset.top < containerOffset.top + $container.height()) {

            var flowchartOffset = $flowchart.offset();

            var relativeLeft = elOffset.left - flowchartOffset.left;
            var relativeTop = elOffset.top - flowchartOffset.top;

            var positionRatio = $flowchart.flowchart('getPositionRatio');
            relativeLeft /= positionRatio;
            relativeTop /= positionRatio;
            
            var data = getOperatorData("Operator Normal");
            data.left = relativeLeft;
            data.top = relativeTop;
            
            $flowchart.flowchart('addOperator', data);
        }
    }
});

});
</script>        
#{/set}

