
#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div class="row crud-title">
    <h1 class="col-xs-12"> &{'crud.show.title', type.modelName} </h1>
    <pre class="col-xs-12 col-sm-12 col-md-9"> &{'crud.show.title.desc', type.modelName} </pre>
    <input data-toggle="modal" data-target="#deleteModal"
        class="col-xs-12 col-sm-12 col-md-2 btn btn-danger pull-right" type="button" value="&{'crud.delete', type.modelName}" />
</div>

<br>

<div class="row" >
#{form id: 'saveForm', action:@save(object._key()), enctype:'multipart/form-data', class: 'submitForm'}

    #{crud.form}
    
        #{crud.custom 'jsonModel'}
            #{field 'object.jsonModel'}
                <input id="${field.id}" class="${field.errorClass}" type="hidden" name="${field.name}" value="${field.value}" size="50" />
            #{/field}
        #{/crud.custom}
        
        #{crud.custom 'jsonGraph'}
            #{field 'object.jsonGraph'}
                <input id="${field.id}" class="${field.errorClass}" type="hidden" name="${field.name}" value="${field.value}" size="50" />
            #{/field}
        #{/crud.custom}
    
        #{crud.custom 'name'}
        
            #{field 'object.name'}
            <div class="form-group row ${field.errorClass ? 'has-error' : ''}">
                <label for="${field.id}">&{field.name}</label>
                <input id="${field.id}" class="form-control" type="text" 
                        name="${field.name}" 
                        value="${field.value}" placeholder="&{'workflow.unnamed'}"/>
                #{ifError field.name}
                    <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                #{/ifError} 
            </div>
            #{/field}
            
        #{/crud.custom}
        
    #{/crud.form}

    <label>&{'workflow.editor'}</label>
    
    <div class="btn-toolbar margin-bottom" role="toolbar">
        <div class="btn-group" role="group">
            <button id="buttonNewInstance" style="cursor: grabbing;" type="button" class="btn btn-secondary ui-draggable ui-draggable-handle">
                <span class="glyphiconglyphicon glyphicon glyphicon-screenshot"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="buttonZoomIn" type="button" class="btn btn-secondary">
                <span class="glyphiconglyphicon glyphicon glyphicon glyphicon-zoom-in"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="buttonZoomOut" type="button" class="btn btn-secondary">
                <span class="glyphiconglyphicon glyphicon glyphicon glyphicon-zoom-out"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="buttonAnlyseGraph" type="button" class="btn btn-secondary">
                <span class="glyphiconglyphicon glyphicon glyphicon-ok-circle"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="buttonDeleteSelected" type="button" class="btn btn-secondary">
                <span class="glyphiconglyphicon glyphicon glyphicon-remove"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="buttonConfigureInstance" type="button" class="btn btn-secondary">
                <span class="glyphiconglyphicon glyphicon glyphicon glyphicon-cog"></span>
            </button>
        </div>       
    </div>

    <div id="chart_container">
        <div id="workflow_editor"></div>
    </div>

    <div class="btn-row text-center">
        <input name="_save" id="_save" class="btn btn-primary btn-md btn-mobile margin-bottom" type="button" value="&{'crud.save', type.modelName}" />
        <a href="@{list()}" class="btn btn-primary btn-md btn-mobile margin-bottom">&{'crud.cancel'}</a>
    </div>
#{/form}
</div>

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">&{'modal.confirm'}</h4>
            </div>
            <div class="modal-body">
                <p>&{'modal.confirm.delete'}</p>
                <p class="text-warning"><small>&{'modal.confirm.delete.desc'}</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">&{'modal.button.cancel'}</button>
                #{form @delete(object._key()), style: 'display:inline;', class: 'submitForm'}
                    <button type="submit" class="btn btn-primary">&{'modal.button.confirm'}</button>
                #{/form}
            </div>
        </div>
    </div>
</div>

<div id="messageModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">&{'modal.warn'}</h4>
            </div>
            <div class="modal-body">
                <p>&{'modal.operation.not.permitted'}</p>
                <p class="text-warning">
                    <small id="modal_description">
                        &{'modal.confirm.delete.desc'}
                    </small>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">&{'modal.button.ok'}</button>
            </div>
        </div>
    </div>
</div>

#{set 'moreStyles' }
<link rel="stylesheet" type="text/css" 
        href="@{'/public/lib/jquery-ui/jquery-ui.min.css'}" media="screen">
<link rel="stylesheet" type="text/css" 
        href="@{'/public/lib/jquery-flowchart/jquery.flowchart.min.css'}" media="screen">
        
<style>

#chart_container {
    background: repeating-linear-gradient( 45deg, #eee, #eee 10px, #e5e5e5 10px, #e5e5e5 20px );
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden; 
    position: relative;
    max-height: 400px;
}

#chart_container #workflow_editor {
    width: 2000px;
    height: 1000px;
    background: white;
    border: 3px solid #BBB;
}

.flowchart-operator .flowchart-operator-title {    
    text-overflow: unset !important;
    white-space: normal !important;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.flowchart-operator {
    width: 80px;
    border-radius: 16px;
}

.flowchart-operator .flowchart-operator-inputs-outputs {
    color: white;
}

.terminal-operator {
    background-color: #aaacb3;
}

.terminal-operator.selected {
}

.terminal-operator .flowchart-operator-inputs-outputs {
    color: #aaacb3;
}

.terminal-operator .flowchart-operator-title {
    background-color: #5a6a88;
    color: white;
}    

.operator-warning .flowchart-operator-title {
    background-color: #e26e1c;
    color: white;
}    

.flowchart-operator-connector-arrow {
    cursor: pointer;
}

</style>        
#{/set}

#{set 'moreScripts' }
<script type="text/javascript" 
        src="@{'/public/lib/jquery-ui/jquery-ui.min.js'}"></script>
<script type="text/javascript" 
        src="@{'/public/lib/jquery-flowchart/jquery.flowchart.min.js'}"></script>
<script type="text/javascript" 
        src="@{'/public/lib/jquery.panzoom.min.js'}"></script>
        
<script type="text/javascript">

$(function(){

class JSONSet extends Set {
    toJSON () {
        return [...this]
    }
}

var start_operator = "start_operator";
var end_operator = "end_operator";

var operators = new Set();
// From start to end
var graphData = {};
//From end to start
var graphDataReverse = {};

var data = {
    operators: {
        start_operator: {
            top: cy - 100,
            left: cx - 300,
            properties: {
                title: 'Start',
                inputs: {},
                outputs: {
                    outs: {
                        label: ".",
                        multiple: true
                    }
                }
            }
        },
        end_operator: {
            top: cy - 100,
            left: cx + 140,
            properties: {
                title: 'End',
                inputs: {
                    ins: {
                        label: '.',
                        multiple: true
                    }
                },
                outputs: {}
            }
        }
    }
};

function getDefaultOperatorData() {
  var data = {
    properties: {
      title: "&{'workflow.node.not.configured'}",
      inputs: {
          ins: {
              label: '.',
              multiple: true
          }
      },
      outputs: {
          outs: {
              label: ".",
              multiple: true
          }
      }
    } 
  };
  
  return data;
}

#{if object.jsonModel != null 
	   && !object.jsonModel.isEmpty()}	   
    data = JSON.parse('${object.jsonModel.raw()}');    
   
    var operator = [];
    #{list items:object.listWorkflowNodes, as: 'item'}    
        #{if item.instance != null}
            operator = data["operators"][${item.id}]
            if(operator) {
                operator["properties"]["title"] = item.instance.executor.name;
            }               
        #{/if}
    #{/list}    
#{/if}
	
//-----------------------------------------------------
//---------------- MODEL FUNCTIONS --------------------
//-----------------------------------------------------

var $flowchart = $('#workflow_editor');
var $container = $flowchart.parent();

// Apply the plugin on a standard, empty div...
$flowchart.flowchart({
    data: data,
    onLinkCreate: function(linkId, linkData){       
       return onLinkCreate(linkId, linkData);
    },
    onLinkDelete: function(linkId, forced){   
        return onLinkDelete(linkId, forced);
    },
    onOperatorCreate: function(operatorId){
        onOperatorCreate(operatorId);
        return true;
    },
    onOperatorDelete: function(operatorId){
        onOperatorDelete(operatorId);
        return true;
    } 
});

$flowchart.flowchart('addClassOperator', start_operator, 'terminal-operator');
$flowchart.flowchart('addClassOperator', end_operator, 'terminal-operator');


var cx = $flowchart.width() / 2;
var cy = $flowchart.height() / 2;

// Panzoom initialization...
$flowchart.panzoom();

// Centering panzoom
$flowchart.panzoom('pan', -cx + $container.width() / 2, -cy + $container.height() / 2);

// Panzoom zoom handling...
var possibleZooms = [0.5, 0.75, 1, 2, 3];
var currentZoom = 2;

function setZoom(e){
    e.preventDefault();
    $flowchart.flowchart('setPositionRatio', possibleZooms[currentZoom]);       
    $flowchart.panzoom('zoom', possibleZooms[currentZoom], {
        animate: false,
        focal: e
    });
}

function getLinkData(linkId) {
    var data = $flowchart.flowchart('getData');
    var links = data["links"];
    if(!links) {
        return null;
    }   
    return links[linkId];
}

function onOperatorCreate(operatorId){
    if(operatorId != start_operator 
            && operatorId != end_operator) {  
       operators.add(operatorId);
    }
}

function onOperatorDelete(operatorId){
    if(operators.has(operatorId)) {
        operators.delete(operatorId);
    }
}

function onLinkDelete(linkId, forced){    
    var linkData = getLinkData(linkId);
    
    // Removes link connection
    var connections = 
        graphData[linkData.fromOperator]; 
    connections.delete(linkData.toOperator);
    
    // Removes link connection reverse
    var connectionsReverse = 
        graphDataReverse[linkData.toOperator]; 
    connectionsReverse.delete(linkData.fromOperator);
    
    return true;
}

function onLinkCreate(linkId, linkData){  
    
    // Check if the connection is from Start to End operators
    if(linkData.fromOperator == start_operator 
        && linkData.toOperator == end_operator){
        showWarnModal("&{'modal.editor.end.start.connection'}")
        return false;
    }    
    
    var connections = 
        graphData[linkData.fromOperator];    
    // Check if connections Set has already initialized
    if(!connections) {
        connections = new JSONSet();
        graphData[linkData.fromOperator] = connections;
    } 
    // Check repeated connection
    else if(connections.has(linkData.toOperator)) {
        showWarnModal("&{'modal.editor.connection.repeated'}")
        return false;
    }  
    // Check if connector has already a connection to End operator
    else if(linkData.toOperator != end_operator && connections.has(end_operator)) {
        showWarnModal("&{'modal.editor.connection.repeated.to.end'}");
        return false;
    }
    // Check if connector has already a connection to an operator before connect to 'End'
    else if(linkData.toOperator == end_operator && connections.size > 0) {
        showWarnModal("&{'modal.editor.connection.has.a.valid.path'}")
        return false;
    }
    
    // Adds link connection
    connections.add(linkData.toOperator);   

    // Adds reverse link connection
    var connectionsReverse = 
        graphDataReverse[linkData.toOperator];    
    if(!connectionsReverse) {
        connectionsReverse = new JSONSet();
        graphDataReverse[linkData.toOperator] = connectionsReverse;
    }     
    connectionsReverse.add(linkData.fromOperator);
        
    if(isGraphCyclic()) {
        // Reverts already added connections
        connections.delete(linkData.toOperator);   

        // Reverts already added connections reverse
        connectionsReverse.delete(linkData.fromOperator);           
        
        showWarnModal("&{'modal.editor.connection.has.loops'}")
        return false;
    }
    
    return true;
}     

function deleteSelected() {
    
    var operatorId = $flowchart.flowchart("getSelectedOperatorId");
    if(operatorId == start_operator 
      || operatorId == end_operator) {    
      showWarnModal("&{'modal.editor.end.start.delete'}");
      return;
    }
    // Operators deleting
    else if (operatorId) {
    	deleteOperator(operatorId);
    } 
    // Links deleting
    else {  
        showPleaseWait();   
        $flowchart.flowchart('deleteSelected');        
        saveModel();
    }
}

function showWarnModal(message){  
    $('#modal_description').html(message)
    $('#messageModal').modal('show');
}

function getJsonModel() {
    var data = $flowchart.flowchart('getData');
    var jsonModel = JSON.stringify(data);
    return jsonModel;
}

function getJsonGraph() {
    var jsonGraph = JSON.stringify(graphData);
    return jsonGraph;
}

//-----------------------------------------------------
//-------------------- EVENTS -------------------------
//-----------------------------------------------------

$('#_save').click(function(){
    $('#object_jsonModel').val(getJsonModel());
    $('#object_jsonGraph').val(getJsonGraph());
    $('#saveForm').submit();
});

$('#buttonZoomIn').click(function(e){
    if(++currentZoom >= possibleZooms.length){
        currentZoom = possibleZooms.length - 1;
    }
    setZoom(e);
});

$('#buttonZoomOut').click(function(e){
    if(--currentZoom < 0){
        currentZoom = 0;
    }
    setZoom(e); 
});

$('#buttonDeleteSelected').click(deleteSelected);

$('#buttonNewInstance').draggable({
	cancel: false,
	
    cursor: "move",
    opacity: 0.7,
    
    helper: 'clone', 
    appendTo: 'body',
    zIndex: 1000,
    
    helper: function(e) {
      var data = getDefaultOperatorData();
      return $flowchart.flowchart('getOperatorElement', data);
    },
    stop: function(e, ui) {
        var elOffset = ui.offset;
        var containerOffset = $container.offset();
        if (elOffset.left > containerOffset.left &&
            elOffset.top > containerOffset.top && 
            elOffset.left < containerOffset.left + $container.width() &&
            elOffset.top < containerOffset.top + $container.height()) {

            var flowchartOffset = $flowchart.offset();

            var relativeLeft = elOffset.left - flowchartOffset.left;
            var relativeTop = elOffset.top - flowchartOffset.top;

            var positionRatio = $flowchart.flowchart('getPositionRatio');
            relativeLeft /= positionRatio;
            relativeTop /= positionRatio;

            var data = getDefaultOperatorData();
            data.left = relativeLeft;
            data.top = relativeTop;
            
            createOperator(data);
        }
    }
});

$('#buttonAnlyseGraph').click(function(){
    var jsonModel = JSON.stringify(graphData);
    console.log(jsonModel); 
    for (let operator of operators) {
        if(!checkNodesReachesStart(operator)
                || !checkNodesReachesEnd(operator)) {
            $flowchart.flowchart('addClassOperator', operator, 'operator-warning');
        } else {
            $flowchart.flowchart('removeClassOperator', operator, 'operator-warning');
        }
    }
});

$('#buttonConfigureInstance').click(function(){
});

//-----------------------------------------------------
//-------------------- AJAX ---------------------------
//-----------------------------------------------------

function createOperator(operator){	
	showPleaseWait();
    var search = #{jsRoute @createNode() /};
    $.ajax({
        url: search.url(),
        type: search.method,
        data:{ id: ${object.id}}
       })
    .done(function(data) {
        $flowchart.flowchart('createOperator', data, operator);    	
        saveModel();    
    })
    .fail(function(data) {
        flashError(data.responseText);
    });
}

function deleteOperator(operator) {
    showPleaseWait();
    var search = #{jsRoute @deleteNode() /};
    $.ajax({
        url: search.url(),
        type: search.method,
        data:{ id: operator}
    })
    .done(function(data) {
        $flowchart.flowchart('deleteSelected');  
        saveModel();
    })
    .fail(function(data) {
        flashError(data.responseText);
    });
}

function saveModel(callback){
	showPleaseWait();	
    var jsonModel = getJsonModel();
    var jsonGraph = getJsonGraph();    
    var search = #{jsRoute @saveModel() /};
    $.ajax({
        url: search.url(),
        type: search.method,
        data:{ 
        	id: ${object.id}, 
        	jsonModel: jsonModel, 
        	jsonGraph: jsonGraph
    	}
    })
    .done(function(data) {
        $flowchart.flowchart('deleteSelected');   
    })
    .fail(function(data) {
        flashError(data.responseText);
    })
    .always(function() {
        hidePleaseWait();
        if(isFunctionDefined(callback)) {
        	callback();
        }
    });
}

//-----------------------------------------------------
//-------------------- GRAPH --------------------------
//-----------------------------------------------------

function isGraphCyclic() {
    var visited = {};
    var recStack = {};
    for (let node of Object.entries(graphData)) {
        if (isGraphCyclicRecursion(node[0], visited, recStack)) {
            return true;
        }
    }
    return false;
}

function isGraphCyclicRecursion(curNode, visited, recStack)  {
    if (recStack[curNode])
        return true;
    if (visited[curNode])
        return false;         
    visited[curNode] = true; 
    recStack[curNode] = true;    
    var connections = 
        graphData[curNode];       
    if(connections && connections.size > 0) {
        for (let node of connections) {
            if(isGraphCyclicRecursion(node, visited, recStack)) {
                return true;
            }
        }
    }             
    recStack[curNode] = false;
    return false;
}

function getNodesDepth(curNode, nodesDepth, depth){  
    
    if(!depth) {
        depth = 0;
    } 
    
    if(!nodesDepth[curNode] 
        || nodesDepth[curNode] < depth) {
        nodesDepth[curNode] = depth;
    } 
    
    var connections = 
        graphData[curNode];   
    
    if(connections && connections.size > 0) {
        for (let node of connections) {
            getNodesDepth(node, nodesDepth, ++depth);
            --depth;            
        }
    }
}

function checkNodesReachesEnd(curNode, visited){       
    if(!visited) {
        visited = new Set();
    }     
    if(curNode == end_operator){
        return true;
    }    
    if(visited.has(curNode)) {
        return false;
    }
    visited.add(curNode);
    
    var connections = 
        graphData[curNode];   
    
    if(connections && connections.size > 0) {
        for (let node of connections) {
            if(checkNodesReachesEnd(node, visited))
            {
                return true;
            }
        }
    }
    
    return false;
}

function checkNodesReachesStart(curNode, visited){
    
    if(!visited) {
        visited = new Set();
    } 
    
    if(curNode == start_operator){
        return true;
    }
    
    if(visited.has(curNode)) {
        return false;
    }
    visited.add(curNode);
    
    var connections = 
        graphDataReverse[curNode];   
    
    if(connections && connections.size > 0) {
        for (let node of connections) {
            if(checkNodesReachesStart(node, visited))
            {
                return true;
            }
        }
    }    
    return false;
}

});

</script>        
#{/set}
