
#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div class="row crud-title">
    <h1 class="col-xs-12"> &{'crud.blank.title', type.modelName} </h1>
    <pre class="col-xs-12"> &{'crud.blank.title.desc', type.modelName} </pre>
</div>

<br>

<div class="row" >
#{form action:@create(), enctype:'multipart/form-data', class: 'submitForm'}

    #{crud.form /}

    <div class="btn-row text-center">
        <button class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_save">&{'crud.save'}</button>
        <button class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_saveAndContinue">&{'crud.saveAndContinue'}</button>
        <button class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_saveAndAddAnother">&{'crud.saveAndAddAnother'}</button>
        <a href="@{list()}" class="btn btn-primary btn-md btn-mobile margin-bottom">&{'crud.cancel'}</a>
    </div>
#{/form}
</div>

