
#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div class="row">
    <div class="">  
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <h1> &{'crud.show.title', type.modelName} </h1>
            </div>
            
            <div class="row">
                <pre class="col-xs-12 col-sm-12 col-md-8"> &{'crud.show.title.desc', type.modelName} </pre>   
            
                #{form @delete(object._key())}
                    <input class="col-xs-12 col-sm-12 col-md-3 btn btn-secondary pull-right" type="submit" value="&{'crud.delete', type.modelName}" />
                #{/form}
            </div>
        </div>
    </div>
</div>

<br>

<div class="row col-lg-12" >
#{form action:@save(object._key()), enctype:'multipart/form-data'}

    #{crud.form /}
    
    <div class="btn-row text-center">        
        <input class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_save" value="&{'crud.save', type.modelName}" />
        <input class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        <a href="@{list()}" class="btn btn-primary btn-md btn-mobile margin-bottom">&{'crud.cancel'}</a>     
    </div>
#{/form}
</div>