
#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div class="row crud-title">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h1> &{'crud.show.title', type.modelName} </h1>
        <pre> &{'crud.show.title.desc', type.modelName} </pre>            
    </div>
</div>

<br>

<div class="row col-lg-12" >
#{form action:@save(), enctype:'multipart/form-data'}

    #{crud.form}     
        
        #{crud.custom 'listImages'}
        
            #{field 'coordinatorId'}
                <input type="hidden" id="${field.id}" name="${field.name}" value="${object._key()}" />
            #{/field}
            
            
            #{field 'object.listImages'}
                    
            <div class="form-group row ${field.errorClass ? 'has-error' : ''}">
                <div class="div-label">
                    <label for="${field.id}">
                        &{field.name}
                    </label>
                    <a class="check-all ${field.id}_class_all_"></a>
                </div>        
        
                <select id="${field.id}" name="${field.name}.id" multiple='multiple'>
                
                %{                        
                        for(plugin in models.PluginModel.findAll()) 
                        {                        
                }%                        
                            <optgroup class="items-group" label='${plugin.name}'>                        
                %{                            
                            for(image in plugin.listImages) 
                            {                        
                                selected = object.listImages.contains(image);
                }%
                                <option value='${image.id}' ${selected ? 'selected' : ''} >${image.name}</option>                       
                %{
                            }
                }%
                            </optgroup>     
                %{
                        }
                }%
                
                *{
                    <optgroup class="items-group" label='Google'>
                        <option value='1'>Palpatine</option>
                        <option value='2'>Palpatine</option>
                        <option value='3' disabled>Ubuntu</option>
                        <option value='4' selected>Obiwan</option>
                    </optgroup>
                    <optgroup class="select-itens" label='Amazon'>
                        <option value='5'>Palpatine</option>
                        <option value='6'>Palpatine</option>
                        <option value='7'>Palpatine</option>
                        <option value='8' disabled>Darth Vader</option>
                    </optgroup>
                    
                }*
                </select>     
                
                #{ifError field.name}
                    <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                #{/ifError}  
            </div>  
               
            #{/field}
            
        #{/crud.custom}  
        
    #{/crud.form}
    
    <div class="btn-row text-center">        
        <input class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_save" value="&{'crud.save', type.modelName}" />
        <a href="@{show()}" class="btn btn-primary btn-md btn-mobile margin-bottom">&{'crud.cancel'}</a>     
    </div>
#{/form}
</div>

#{set 'moreScripts'}

<script type="text/javascript">

    function disableSelectItens(){
        
        optgroups = $('.items-group');        
        $('.items-group').each(function() {
            $optgroup = $(this);
            hasSelected = false;   
            $optgroup.children('option').each(function(){
                hasSelected = this.selected;
                if(hasSelected) {
                    return false;
                }
            });         
            
            if(!hasSelected) {
                $optgroup.children('option').each(function(){                
                    this.disabled = false;
                });  
                return false;
            }
            
            $optgroup.children('option').each(function(){                
                if(!this.selected) {
                    this.disabled = true;
                }
            });  
        });     
        
        $('#object_listImages').multiSelect('refresh');
    }
    
    $(function(){            
        disableSelectItens();
    });

    $('#object_listImages').multiSelect({ 
        selectableOptgroup: false,
        afterSelect: disableSelectItens,
        afterDeselect: disableSelectItens
    });

</script>

#{/set}
