

#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div class="row crud-title">
    <div class="col-xs-12 col-sm-12 col-md-12">  
        <h1> &{'crud.list.title', type.name} </h1>
        <pre> &{'crud.list.title.desc', type.name+'.desc'} </pre>
    </div>
</div>

<br>

<div class=row>

    #{form action:@list().remove('page'), method:'GET', id:'searchForm'}
    <div class="col-xs-12 col-sm-12 col-md-4 margin-bottom">
            <input type="text" class="form-control btn-buscar" placeholder="&{'crud.search'}" name="search" value="${params.search?.escape()?.raw()}" /> 
        
        #{if totalCount > 0 && params.search}
            <div class="list-total-count">
                (<a href="@{list()}">&{'crud.list.totalSize', totalCount}</a>)
            </div>
        #{/if} 
    </div>
    
    #{field 'pluginSelected'}
    <div class="col-xs-12 col-sm-12 col-md-4 margin-bottom">
        <div class="nav-container">
            <select class="form-control nav" id="${field.id}" name="${field.name}">

                <option value="">&{'crud.all', 'PluginController'}</option>
                
                %{ models.PluginModel.findAll().each() { }%
                %{
                    selected = (it._key().toString() == field.value.toString()) ;  
                }%
                <option value="${it._key()}" ${selected ? 'selected="true"'.raw() : ''}>${it}</option>
                
                %{ } }%
            </select>
        </div>
    </div>
    #{/field}
    
    #{/form}
    
    <div class="row col-xs-12 col-sm-12 col-md-4">    
        <button class="btn btn-primary margin-bottom col-xs-12 col-sm-12 col-md-4 btn-crud-search-form-submit" type="button" onclick="javascript: block('&{'crud.wait'}');">&{'crud.search'}</button>    
        <input class="btn btn-primary margin-bottom col-xs-12 col-sm-12 col-md-7 pull-right" type="button" onclick="javascript: location.href = '@{blank()}'; block('&{'crud.wait'}');" value="&{'crud.add', type}">
    </div>
    
</div>

<br>
#{if pluginSelected != null}
    #{crud.table fields: ['name', 'priority', 'plugin', 'enabled'],
        addFields:['pluginSelected'] /}
#{/if}
#{else}
    #{crud.table fields: ['name', 'plugin', 'enabled'] /}
#{/else}

#{crud.pagination
        addFields:['pluginSelected'] /}
        