
#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div class="row crud-title">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h1> &{'crud.blank.title', type.modelName} </h1>
        <pre> &{'crud.blank.title.desc', type.modelName} </pre>
    </div>
</div>

<br>

<div class="row col-lg-12" >
#{form action:@create(), enctype:'multipart/form-data', class: 'submitForm'}

    #{crud.form}
        #{crud.custom 'publicUrl'}
            #{field 'object.publicUrl'}
            <div class="form-group row ${field.errorClass ? 'has-error' : ''}">
                <label for="${field.id}">&{field.name}</label>
                <input id="${field.id}" class="form-control"  type="text" name="${field.name}" value="${field.value}" />
                #{ifError field.name}
                    <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                #{/ifError}
            </div>
            #{/field}
        #{/crud.custom}


        #{crud.custom 'virtualName'}

            %{ if(object.virtualName != null && object.virtualName != "") { }%

                #{field 'object.virtualName'}
                    <div class="form-group row ">
                        <label for="${field.id}">&{field.name}</label>
                        <input id="${field.id}" readonly class="form-control" type="text"
                                name="${field.name}" value="${field.value}" />
                    </div>
                #{/field}

            %{ } else { }%

                #{field 'object.virtualName'}
                    <input id="${field.id}" class="${field.errorClass}" type="hidden"
                            name="${field.name}" value="${field.value}" size="50" />
                #{/field}

                #{field 'uploadFileInput'}

                    <div class="form-group row">
                        <input type="checkbox" id="checkUploadFile" class="icheck" value="true" />
                        <input type="hidden" value="false" />
                        <label for="checkUploadFile" style="margin-left: 10px;">&{field.name}</label>
                    </div>

                    #{set fileName: null /}

                    #{set clearFunction: "clearFile_" + field.id /}
                    #{set 'tempInnerScript' }
                    <script type="text/javascript">

                    $(function(){
                        function ${clearFunction}(){
                            document.getElementById('${field.id}_delete_').checked = true;
                            document.getElementById('${field.id}_download_button').style.display = "none";
                            document.getElementById('${field.id}_delete_button').style.display = "none";
                            document.getElementById('${field.id}_fileName').value = "";
                        }
                        $('#${field.id}_delete_button').click(function(){
                            ${clearFunction}();
                        });
                    });

                    </script>
                    #{/set}

                    #{set 'moreInnerScripts'}
                        #{get 'moreInnerScripts' /}
                        #{get 'tempInnerScript' /}
                    #{/set}

                    <div id="divUploadFile" style="display: none;" class="form-group row ${field.errorClass ? 'has-error' : ''}">
                        <div class="input-group file-input">
                            <input name="${field.name}_fileName" id="${field.id}_fileName" type="text" class="form-control" disabled="disabled" value="${fileName}">
                            <span class="input-group-btn" id="${field.id}_download_button" style="${hasContent ? '' : 'display: none;'}" onclick="javascript: document.getElementById('${field.id}_download_').click();">
                            <div class="btn btn-default" style="border-radius: 0px;border-left: 0px;">
                                <span class="glyphicon glyphicon-download-alt">
                                <a id="${field.id}_download_" href="@{attachment(_id, _name)}" download hidden>...</a>
                                </span>
                            </div>
                            </span>
                            <span class="input-group-btn " id="${field.id}_delete_button" style="${hasContent ? '' : 'display: none;'}">
                            <div class="btn btn-default" style="border-radius: 0px;border-left: 0px;">
                                <span class="glyphicon glyphicon-remove">
                                <input id="${field.id}_delete_" ${hasContent ? '' : 'checked'} type="checkbox" name="${field.name}_delete_" value="true" style="display: none;visibility: hidden;" />
                                </span>
                            </div>
                            </span>
                            <span class="input-group-btn ">
                                <div class="btn btn-default">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <span class="input-file-text">&{'crud.field.file.browse'}</span>
                                    <input id="${field.id}" type="file" name="${field.name}" style="width: 100px;"/>
                                </div>
                            </span>
                        </div>

                        #{ifError field.name}
                            <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                        #{/ifError}
                    </div>

                #{/field}

            %{ } }%

        #{/crud.custom}

    #{/crud.form}

    <div class="btn-row text-center">
        <button class="btn btn-primary btn-md btn-mobile margin-bottom" type="button" name="_save">&{'crud.save'}</button>
        <button class="btn btn-primary btn-md btn-mobile margin-bottom" type="button" name="_saveAndContinue">&{'crud.saveAndContinue'}</button>
        <button class="btn btn-primary btn-md btn-mobile margin-bottom" type="button" name="_saveAndAddAnother">&{'crud.saveAndAddAnother'}</button>
        <a href="@{list()}" class="btn btn-primary btn-md btn-mobile margin-bottom">&{'crud.cancel'}</a>
    </div>
#{/form}
</div>


#{set 'moreScripts' }

<script type="text/javascript">


$(function(){

    function updateProgress(evt){
        if ( !evt.lengthComputable )
            return;
        var percentComplete = Math.round( (evt.loaded * 100) / evt.total );
        updateProgressBar(percentComplete);
    }

    var uploadRequest = null;
    function uploadFile(uploadInfo, callBack){

        var uploadFileInput = new FormData($('.submitForm')[0]);
        uploadFileInput.append('file', $('#uploadFileInput')[0].files[0]);

        uploadRequest = $.ajax({
            url: uploadInfo.url,
            type: uploadInfo.method,
            data: uploadFileInput,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                Object.entries(uploadInfo.headers).map(([key, value]) => {
                   xhr.setRequestHeader(key, value);
                });
            },
            xhr: function() {
                var jqXHR = null;
                if ( window.ActiveXObject )
                    jqXHR = new window.ActiveXObject( "Microsoft.XMLHTTP" );
                else
                    jqXHR = new window.XMLHttpRequest();

                //Upload progress
                jqXHR.upload.addEventListener( "progress", updateProgress, false );

                //Download progress
                //jqXHR.addEventListener( "progress", updateProgress, false );
                return jqXHR;
            },
        })
        .done(function(data) {
            $('#object_virtualName').val(uploadInfo.virtualName);
            callBack();
        })
        .fail(function(data) {
            flashError(data.responseText);
            callBack();
        });
    }

    function prepareUpload(callBack){
        space = $('#object_space').val();
        fileName = $('#object_name').val();
        var action = #{jsRoute @getFileLocationToUpload() /};
        if(space == ""){
            hidePleaseWait();
            return;
        }
        $.ajax({
            url: action.url(),
            type: action.method,
            data:{ spaceId: space, fileName: fileName }
        })
        .done(function(data) {
            callBack(data);
        })
        .fail(function(data) {
            flashError(data.responseText);
            callBack();
        });
    }

    function submitForm(){
        $('#uploadFileInput').remove();
        $('.submitForm').submit();
    }

    $("button[name=_save], button[name=_saveAndContinue], button[name=_saveAndAddAnother]")
            .click(function(){

        var self= $(this),
        form = $('.submitForm'),
        tempElement = $("<input type='hidden'/>");

        // clone the important parts of the button used to submit the form.
        tempElement
            .attr("name", this.name)
            .val(self.val())
            .appendTo(form);

        if($("#object_name").val() &&
            $("#checkUploadFile").is(":checked")) {
            showPleaseWaitEmpty();
            prepareUpload(function(data){
                if(!data) {
                    hidePleaseWait();
                    return;
                }
                uploadFile(data, submitForm);
            });
        } else {
            showPleaseWait();
            submitForm();
        }
    });
    $("#checkUploadFile").on("ifChecked", function(){
        $("#divUploadFile").show();
    });
    $("#checkUploadFile").on("ifUnchecked", function(){
        $("#divUploadFile").hide();
    });

    $("#uploadFileInput").on("change", function(event){
        var fileNameField = $('#uploadFileInput_fileName');
        setFileName($(this)[0], $(fileNameField)[0]);
        fileNameField = $('#object_name');
        setFileName($(this)[0], $(fileNameField)[0]);
    });

});
</script>

#{/set}

