
#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div class="row crud-title">
    <div class="">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <h1> &{'crud.show.title', type.modelName} </h1>
            </div>

            <div class="row">
                <pre class="col-xs-12 col-sm-12 col-md-9"> &{'crud.show.title.desc', type.modelName} </pre>
                <input data-toggle="modal" data-target="#deleteModal" class="col-xs-12 col-sm-12 col-md-2 btn btn-danger pull-right" type="button" value="&{'crud.delete', type.modelName}" />
            </div>
        </div>
    </div>
</div>

<br>

<div class="row col-lg-12" >
#{form action:@save(object._key()), enctype:'multipart/form-data', class: 'submitForm'}

    #{crud.form}

        #{crud.custom 'space'}
            #{field 'object.space'}
                <div class="form-group row ">
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" readonly class="form-control" type="hidden"
                            name="${field.name}" value="${field.value.id}" />
                    <input readonly class="form-control" type="text"
                            value="${field.value}" />
                </div>
            #{/field}
        #{/crud.custom}

        #{crud.custom 'virtualName'}
            #{field 'object.virtualName'}
                <div class="form-group row ">
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" readonly class="form-control" type="text"
                            name="${field.name}" value="${field.value}" />
                </div>
            #{/field}
        #{/crud.custom}

        #{crud.custom 'publicUrl'}
            #{field 'object.publicUrl'}
            <div class="form-group row ${field.errorClass ? 'has-error' : ''}">
                <label for="${field.id}">&{field.name}</label>
                <input id="${field.id}" class="form-control"  type="text" name="${field.name}" value="${field.value}" />
                #{ifError field.name}
                    <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                #{/ifError}
            </div>
            #{/field}
            <br>
            <button id="btnDownloadFile" class="btn btn-success col-xs-12 btn-md btn-mobile margin-bottom" type="button" name="_save">&{'download.file'}</button>
            <br>
        #{/crud.custom}
    #{/crud.form}

    <div class="btn-row text-center">
        <input class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_save" value="&{'crud.save', type.modelName}" />
        <input class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        <a href="@{list()}" class="btn btn-primary btn-md btn-mobile margin-bottom">&{'crud.cancel'}</a>
    </div>
#{/form}
</div>

#{set 'moreScripts' }

<script type="text/javascript">


$(function(){



    function updateProgress(evt){
        if ( !evt.lengthComputable )
            return;
        var percentComplete = Math.round( (evt.loaded * 100) / evt.total );
        updateProgressBar(percentComplete);
    }

    var downloadRequest = null;
    function downloadFile(downloadInfo, callBack){
        debugger;


        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
//             document.getElementById("demo").innerHTML = this.responseText;
          }
        };
        xhttp.open(downloadInfo.method, downloadInfo.url, true);
        Object.entries(downloadInfo.headers).map(([key, value]) => {
            xhttp.setRequestHeader(key, value);
        })
        xhttp.send("fname=Henry&lname=Ford");




//         downloadRequest = $.ajax({
//             url: downloadInfo.url,
//             type: downloadInfo.method,
//             processData: false,
//             beforeSend: function (xhr) {
//                 Object.entries(downloadInfo.headers).map(([key, value]) => {
//                    xhr.setRequestHeader(key, value);
//                 })
//             },
//             xhr: function() {
//                 var jqXHR = null;
//                 if ( window.ActiveXObject )
//                     jqXHR = new window.ActiveXObject( "Microsoft.XMLHTTP" );
//                 else
//                     jqXHR = new window.XMLHttpRequest();
//                 jqXHR.addEventListener( "progress", updateProgress, false );
//                 return jqXHR;
//             },
//         })
//         .done(function(data) {
//             callBack();
//         })
//         .fail(function(data) {
//             flashError(data.responseText);
//             callBack();
//         });
    }

    function prepareDownload(callBack){
        debugger;
        space = $('#object_space').val();
        virtualName = $('#object_virtualName').val();
        var action = #{jsRoute @getFileLocationToDownload() /};
        if(space == ""){
            hidePleaseWait();
            return;
        }
        $.ajax({
            url: action.url(),
            type: action.method,
            data:{ spaceId: space, virtualName: virtualName }
        })
        .done(function(data) {
            callBack(data);
        })
        .fail(function(data) {
            flashError(data.responseText);
            callBack();
        });
    }

    $("#btnDownloadFile").click(function(){
        showPleaseWaitEmpty();
        prepareDownload(function(data){
            if(!data) {
                hidePleaseWait();
                return;
            }
            downloadFile(data, hidePleaseWait);
        });
    });

});
</script>

#{/set}
