@media ( max-width : 767px) {
    .navbar-nav .open .dropdown-menu {
        position: relative;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.15);
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
}

@media ( min-width :768px) {
    .navbar-toggle {
        display: inline-table;
    }
}

@media ( min-width :769px) {
    .navbar-header {
        float: left;
        position: fixed;
        z-index: 3;
        background-color: #f8f8f8;
    }
    .side-menu {
        margin-top: 50px;
    }
    .navbar-toggle {
        display: none !important;
    }
}

.side-body {
    margin-top: 70px;
}

.user-profile-menu-div {
    top: 0;
    right: 0;
    border: 0;
    position: absolute;
    display: block !important;
}

.user-profile-menu {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 13px 15px 25px;
}

.side-menu .navbar-header {
    top: 0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding-top: 0px;
}

.username-profile-popup {
    white-space: nowrap;
    font-size: 16px;
}

.dropdown-menu {
    min-width: 160px;
}

.profile-menu {
    border: 0px !important;
}

.profile-menu a {
    padding: 7px 15px !important;
    color: #777 !important;
    font-size: 16px;
}

.side-menu .navbar-nav li a {
    font-size: 16px;
}