
#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.view.title', type.modelName) /}

<div class="row crud-title">
    <h1 class="col-xs-12"> &{'crud.view.title', type.modelName} </h1>
    <pre class="col-xs-12"> &{'crud.view.title.desc', type.modelName} </pre>
</div>

<br>

<div class="row" >
#{form action:@save(object._key()), enctype:'multipart/form-data', class: 'submitForm'}

    #{crud.form}
        #{crud.custom 'userShared'}
            #{field 'object.listSharedGroups'}
            <div class="form-group row ${field.errorClass ? 'has-error' : ''}">
                    <div class="div-label">
                        <label for="${field.id}">
                            &{field.name}
                        </label>
                        <a class="check-all ${field.id}_class_all_"></a>
                    </div>
                    <div class="custom-muilt-check-box">
                        %{
                        field.value.each() {
                        }%
                        <div style="padding-top: 5px;padding-bottom: 5px;">
                            <input checked disabled type="checkbox" class="icheck"/>&nbsp;${it}<br/>
                        </div>
                        %{ } }%
                    </div>
            </div>
            #{/field}
        #{/crud.custom}
    #{/crud.form}

    <div class="btn-row text-center">
        <a href="@{list()}" class="btn btn-primary btn-md btn-mobile margin-bottom">&{'crud.cancel'}</a>
    </div>
#{/form}
</div>

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">&{'modal.confirm'}</h4>
            </div>
            <div class="modal-body">
                <p>&{'modal.confirm.delete'}</p>
                <p class="text-warning"><small>&{'modal.confirm.delete.desc'}</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">&{'modal.button.cancel'}</button>
                #{form @delete(object._key()), style: 'display:inline;', class: 'submitForm'}
                    <button type="submit" class="btn btn-primary">&{'modal.button.confirm'}</button>
                #{/form}
            </div>
        </div>
    </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript">
$(function(){
    $('#object_name').prop('readonly', true);
    $('#object_plugin').prop('tabindex', -1);
    $('#object_plugin').attr('readonly', 'readonly');
    $('#object_enabled').iCheck('disable');
});
</script>
#{/set}
