
#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div class="row crud-title">
    <h1 class="col-xs-12"> &{'crud.show.title', type.modelName} </h1>
    <pre class="col-xs-12"> &{'crud.show.title.desc', type.modelName} </pre>
</div>

<br>

<div class="row" >
#{form action:@save(object._key()), enctype:'multipart/form-data', class: 'submitForm'}

    #{crud.form}

        #{crud.custom 'settingName'}
            #{field 'object.settingName'}
                <div class="form-group row">
                    <label style="font-size: 20px;" for="${field.id}">&{field.value}</label>
                </div>
            #{/field}
        #{/crud.custom}

        #{crud.custom 'settingValue'}

            #{field 'object.settingValue'}

                #{set settingType: object.settingType.toString() /}
                <div class="form-group row ${field.errorClass ? 'has-error' : ''}">

                #{if settingType == 'NUMBER'}
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" class="form-control" type="number" name="${field.name}" value="${field.value}" />
                #{/if}
                #{elseif settingType == 'DECIMAL'}
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" class="form-control" type="text" name="${field.name}" value="${field.value}" />
                #{/elseif}
                #{elseif settingType == 'STRING'}
                    <label for="${field.id}">&{field.name}</label>
                    <input id="${field.id}" class="form-control" type="text" name="${field.name}" value="${field.value}" />
                #{/elseif}
                #{elseif settingType == 'DATE'}
                    <div class="row">
                        <label for="${field.id}">&{field.name}</label>
                    </div>
                    <div class="datetimepicker-date input-group date col-xs-12 pull-left">
                        <input id="${field.id}" type="text" class="form-control" name="${field.name}" value="${field.value}">
                        <span class="input-group-addon add-on">
                            <b class="entypo-calendar"></b>
                        </span>
                    </div>
                #{/elseif}

                #{ifError field.name}
                    <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                #{/ifError}

                </div>

            #{/field}

        #{/crud.custom}

    #{/crud.form}

    <div class="btn-row text-center">
        <input class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_save" value="&{'crud.save', type.modelName}" />
        <input class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        <a href="@{list()}" class="btn btn-primary btn-md btn-mobile margin-bottom">&{'crud.cancel'}</a>
    </div>
#{/form}
</div>

