#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}


<div class=row>
    <div class="col-xs-12 col-sm-12 col-md-12">  
        <h1> &{'crud.list.title', type.name} </h1>
        <pre> &{'crud.list.title.desc', type.name+'.desc'} </pre>
    </div>
</div>

<br>

#{crud.searchAndAdd /}

<br>

<div class=row>
    <div class="col-lg-12">  
        <div id="crudListTable">
            #{crud.table fields: ['id', 'url', 'name'] /}
        </div>    
    </div>
</div>

<div id="crudListPagination">
    #{crud.pagination /}
</div>

<p id="crudListAdd">
    <a href="@{blank()}">&{'crud.add', type.modelName}</a>
</p>
