
#{extends '_layout/layout.html' /}

<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
<header>
    <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="@{adm.HomeController.index}">&{'application.title'}</a>
                    </div>

                    <div class="navbar-collapse collapse user-profile-menu-div">
                        <ul class="nav navbar-nav navbar-right" style="margin: 0px; margin-right: -15px; background-color: #fff; ">
                            <li class="dropdown">
                            
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-bottom: 35px;">
                                    <span class="user-profile-menu pull-left btn btn-default">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                </a>
                                
                                <ul class="dropdown-menu">
                                    <li class="profile-menu">
                                        <div class="navbar-content">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <span class="username-profile-popup">
                                                        ${connectedUser.name}
                                                    </span>
                                                    <p class="text-muted">
                                                        ${session.username}    
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="profile-menu"><a href="#"><span class="glyphicon glyphicon-edit"></span>&{'personal.data'}</a></li>
                                    <li class="profile-menu"><a href="#"><span class="glyphicon glyphicon-lock"></span>&{'change.password'}</a></li>
                                    <li class="divider" style="margin-right: 15px; margin-left: 15px;"></li>
                                    <li class="profile-menu"><a href="@{Secure.logout}"><span class="glyphicon glyphicon-off"></span>&{'secure.signout'}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">
                    <!-- Dropdown-->
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-workflow-lvl1">
                        <span class="glyphicon glyphicon-random"></span> Workflows<span class="caret"></span>
                        </a>
                        <!-- Dropdown level 1 -->
                        <div id="dropdown-workflow-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="#">Create New</a></li>
                                    <li><a href="#">Execution Status</a></li>                        
                                </ul>
                            </div>
                        </div>
                    </li>  
                    
                    <!-- Dropdown-->
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-storage-lvl1">
                        <span class="glyphicon glyphicon-hdd"></span> Storage<span class="caret"></span>
                        </a>
                        <!-- Dropdown level 1 -->
                        <div id="dropdown-storage-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="#">My Storage</a></li>
                                    <li><a href="#">Send File</a></li>
                                    <li><a href="#">Delete File</a></li>
                                    <li><a href="#">Download File</a></li>                        
                                </ul>
                            </div>
                        </div>
                    </li>                     
                    <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Statistics</a></li>    
                    <li><a href="@{adm.PluginController.list}"><span class="glyphicon glyphicon-cloud-upload"></span> Plugins</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                    
                    <!-- ################################### -->
                    <!-- ### Template Menu for 1 and 2 level menus -->
                    *{
                    <!-- 
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl1">
                            <span class="glyphicon glyphicon-user"></span> Template Menu<span class="caret"></span>
                        </a>       
                        <div id="dropdown-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li class="panel panel-default" id="dropdown">
                                        <a data-toggle="collapse" href="#dropdown-lvl2">
                                        <span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
                                        </a>
                                        <div id="dropdown-lvl2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="nav navbar-nav">
                                                    <li><a href="#">Link</a></li>
                                                    <li><a href="#">Link</a></li>
                                                    <li><a href="#">Link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                     -->
                    }*
                    <!-- ################################### -->              
                    <li><a href="@{adm.TestController.list}"><span class="glyphicon glyphicon-screenshot"></span> Test</a></li>
                    
                         
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
</header>  

    <section>
        <!-- Main Content -->
        <div class="container-fluid">
            #{doLayout /}    
        </div>
    </section>  
</div>
