
#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div class="row crud-title">
    <h1 class="col-xs-12"> &{'crud.blank.title', type.modelName} </h1>
    <pre class="col-xs-12"> &{'crud.blank.title.desc', type.modelName} </pre>
</div>

<br>

<div class="row" >
#{form action:@create(), enctype:'multipart/form-data', class: 'submitForm'}

    #{crud.form}

        #{crud.custom 'firewallTcpRules'}
        #{/crud.custom}
        #{crud.custom 'executionScriptEnabled'}
        #{/crud.custom}
        #{crud.custom 'executionScript'}
        #{/crud.custom}
                
        #{crud.custom 'commandLine'}  
        
            #{field 'object.executionScriptEnabled'}            
            <div class="form-group row ${field.errorClass ? 'has-error' : ''}">                     
                <input type="checkbox" id="${field.id}" name="${field.name}" class="icheck" value="true" 
                         ${ field.value ? 'checked="true" '.raw() : ''} /> 
                <input type="hidden" name="${field.name}" value="false" />                  
                <label for="${field.id}" style="margin-left: 10px;">&{field.name}</label>                   
                #{ifError field.name}
                    <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                #{/ifError} 
            </div>            
            #{/field}
        
            #{field 'object.executionScript'}
            <div id="executionScriptDiv" style="${object.executionScriptEnabled ? '' : 'display: none;'}" class="form-group row ${field.errorClass ? 'has-error' : ''}">
                <label for="${field.id}">&{field.name}</label>
                <textarea id="${field.id}" name="${field.name}" class="form-control" rows="5">${field.value}</textarea>
                #{ifError field.name}
                    <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                #{/ifError} 
            </div>
            #{/field}
                 
            #{field 'object.commandLine'}
            <label for="${field.id}">&{field.name}</label>
            <div class="form-group row ${field.errorClass ? 'has-error' : ''}">
                <label id="applicationLabel" style="font-weight: normal !important;${object.executionScriptEnabled ? '' : 'display: none;'}">application.sh</label>
                <input id="${field.id}" class="form-control" type="text" name="${field.name}" value="${field.value}" />
	            #{ifError field.name}
	                <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
	            #{/ifError} 
                <span class="help-block">*&{'obs.commandLine'}</span>    
            </div>            
            #{/field}        
        #{/crud.custom}
        
        #{crud.custom 'firewallUdpRules'}
            #{field 'object.firewallTcpRules'}
            <div class="form-group row ${field.errorClass ? 'has-error' : ''}">
                <label for="${field.id}">&{field.name}</label>
                <input id="${field.id}" class="form-control"  type="text" name="${field.name}" value="${field.value}" />
                <span class="help-block">*&{'firewall.separate.ports'}</span>
                #{ifError field.name}
                    <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                #{/ifError}
            </div>
            #{/field}
            #{field 'object.firewallUdpRules'}
            <div class="form-group row ${field.errorClass ? 'has-error' : ''}">
                <label for="${field.id}">&{field.name}</label>
                <input id="${field.id}" class="form-control"  type="text" name="${field.name}" value="${field.value}" />
                <span class="help-block">*&{'firewall.separate.ports'}</span>
                #{ifError field.name}
                    <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                #{/ifError}
            </div>
            #{/field}
        #{/crud.custom}

        #{crud.custom 'listImages'}

            #{field 'object.listImages'}

            <div class="form-group row ${field.errorClass ? 'has-error' : ''}">
                <div class="div-label">
                    <label for="${field.id}">
                        &{field.name}
                    </label>
                    <a class="check-all ${field.id}_class_all_"></a>
                </div>

                <select id="${field.id}" name="${field.name}.id" multiple='multiple'>
                %{
                        for(plugin in models.PluginModel.findAll())
                        {
                }%
                            <optgroup class="items-group" label='${plugin.name}'>
                %{
                            for(image in plugin.listImages)
                            {
                                selected = (object.listImages != null && object.listImages.contains(image));
                }%
                                <option value='${image.id}' ${selected ? 'selected' : ''} >${image.name}</option>
                %{
                            }
                }%
                            </optgroup>
                %{
                        }
                }%
                </select>

                #{ifError field.name}
                    <span id="helpBlock2" class="help-block">${field.error.raw()}</span>
                #{/ifError}
            </div>

            #{/field}

        #{/crud.custom}

    #{/crud.form}

    <div class="btn-row text-center">
        <input class="btn btn-primary btn-md btn-mobile margin-bottom" type="submit" name="_save" value="&{'crud.save', type.modelName}" />
        <a href="@{list()}" class="btn btn-primary btn-md btn-mobile margin-bottom">&{'crud.cancel'}</a>
    </div>
#{/form}
</div>

#{set 'moreScripts'}

<script type="text/javascript">

    function disableItensFromSelectedGroup(){

        optgroups = $('.items-group');
        $('.items-group').each(function() {
            $optgroup = $(this);
            $options = $optgroup.children('option');
            hasSelected = false;
            // Check group selection
            $options.each(function(){
                hasSelected = this.selected;
                if(hasSelected) {
                    return false;
                }
            });

            // Enable all if group have no selected item
            if(!hasSelected) {
                $options.each(function(){
                    this.disabled = false;
                });
                return false;
            }

            // Disable other itens if has group selection
            $options.each(function(){
                if(!this.selected) {
                    this.disabled = true;
                }
            });
        });

        $('#object_listImages').multiSelect('refresh');
    }

    $(function(){
        disableItensFromSelectedGroup();
    });

    $('#object_listImages').multiSelect({
        selectableOptgroup: false,
        afterSelect: disableItensFromSelectedGroup,
        afterDeselect: disableItensFromSelectedGroup
    });
    
    $('#object_executionScriptEnabled').on('ifChanged', function(){
        if($(this).is(":checked")) {     
            $('#executionScriptDiv').show();
            $('#applicationLabel').show();
        } else {            
            $('#executionScriptDiv').hide();
            $('#applicationLabel').hide();
        }
        
    });

</script>

#{/set}
